<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css">
    <title>Card Shuffle</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>