<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <title>Card Shuffle</title>
  </head>
  <body class="helvetica bg-light-gray">
    <%= yield %>
  </body>
</html>