<header>
  <h1 class="tc">Welcome to Shuffle Decider</h1>
</header>

<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns tc">
    <div class="fl w-100 w-25-ns pa2">
      <div class="suits_logo outline bg-white pv4"><img src='/images/suits.png'/></div>
    </div>
    <div class="fl w-100 w-50-ns pa2 bg-dark-gray">
      <div class="outline pv4 pa2 bg-moon-gray red">
            <%= @game.result %>
      </div>
      <div class="outline pv4 pa2 bg-moon-gray tl">
            <% @game.hands.each do |hand| %>
              <div class="result pv2 bb"><%= "#{hand.player}: #{hand.display_hand}" %></div>
              <% end %>
      </div>
    </div>
  
    <div class="fl w-100 w-25-ns pa2">
      <div class="cards_logo outline bg-white pv4"><img src='/images/cards.png'/></div>
    </div>
  </div>
</div>



